---
import ArticleCard from '@components/articles/ArticleCard.astro';
import Button from '@components/Button.astro';
import Title from '@components/Title.astro';
import { ROUTES } from '@config/routes';

interface Props {
  articles: Array<{
    data: {
      title: string;
      image: any;
      date: Date;
      summary?: string;
      tags?: string[];
    };
    slug: string;
  }>;
  max?: number;
  title?: string;
}
const { articles, max = 3, title = 'Related News'} = Astro.props;
---

<div class="container mx-auto px-4 py-8 border-t border-green-700">
  <Title size="text-4xl">
      {title}
  </Title>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
    {articles.slice(0, max).map(article => (
      <ArticleCard
        title={article.data.title}
        image={article.data.image}
        date={article.data.date}
        summary={article.data.summary}
        tags={article.data.tags}
        href={ROUTES.articles.detail(article.slug)}
      />
    ))}
  </div>
  <div class="flex justify-center mt-8">
    <Button link={ROUTES.articles.index}>View All Articles</Button>
  </div>
  {articles.length === 0 && (
    <p class="text-green-200 mt-8 text-center">No news published yet.</p>
  )}
</div>