---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

import App from '../../layouts/App.astro';
const members = await getCollection('members');
console.log(members);
// Obtener el par치metro de la URL
const { id } = Astro.params;
console.log(id);
// Buscar el miembro con ese nombre
const member = members.find(m => m.slug === id);
/* import Flag from member?.data.flagPath;
import Logo from member?.data.logoPath; */

if (!member) {
  throw new Error("Member not found");
}
---
<App title={"FFC - " + member.data.name}>
  <head>
    <title>{member.data.name} - Informaci칩n</title>
  </head>

  <h1>{member.data.name}</h1>
  <Image src={member.data.flagPath} alt={`${member.data.name}'s Flag`} />
  <Image src={member.data.logoPath} alt={`${member.data.name}'s Logo`} />

  <p>Federaci칩n: {member.data.federation}</p>
  <p>Regi칩n: {member.data.region}</p>
</App>
