---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

import App from '../../layouts/App.astro';
const members = await getCollection('members');

// URL PARAMETER
const { slug } = Astro.params;

const member = members.find(m => m.slug === slug);
/* import Flag from member?.data.flagPath;
import Logo from member?.data.logoPath; */

if (!member) {
  throw new Error("Member not found");
}
---
<App title={"FFC - " + member.data.name}>
  <h1>{member.data.name}</h1>
  <!-- <Image src={member.data.flagPath} alt={`${member.data.name}'s Flag`} />
  <Image src={member.data.logoPath} alt={`${member.data.name}'s Logo`} /> -->

  <p>ID: {member.data.id}</p>
  <p>Federación: {member.data.federation}</p>
  <p>Región: {member.data.region}</p>
</App>
