---
// import HistoricalTable from '../components/react/HistoricalTable';
import Table from '../components/Table.astro';
import FCCard from '../components/FCCard.astro';
import App from '../layouts/App.astro';
import { tournaments } from '../content/tournaments';
import { getCollection } from 'astro:content';

const memberEntries = await getCollection('members');
const matchEntries = await getCollection('matches');

const members = memberEntries.map((entry) => ({
  ...entry.data,       // <-- todos los campos como name, flagPath, etc.
  slug: entry.slug,    // <-- está fuera de .data
}));



const matches = matchEntries.map((entry) => entry.data);

import { Image } from 'astro:assets';
import FCLogo from '../assets/images/forest-cup/forest-cup.png';
// Importar todas las imágenes desde el directorio
const images = import.meta.glob('../assets/images/*.png', { eager: true });
---

<App title="FFC - Forest Cup">
  <main class="flex flex-col items-center">
    <!-- Banner -->
    <div class="container flex flex-col justify-center items-center pt-6">
        <Image src={FCLogo} alt="Forest Cup" class="w-1/2" loading={"eager"}/>
    </div>
    <!-- Tournaments -->
    <div class="flex justify-center p-6">
      <div class="container">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
          {tournaments.slice().reverse().map(tournament => {
            const { name, image, route } = tournament;
            return (
              <FCCard
                  title={name}
                  imagePath={image}
                  route={route}
                />
            );
          })}
        </div>
      </div>
    </div>
    <!-- List tournaments -->
    <!-- Table -->
    <Table members={members} matches={matches} />
    <!-- <HistoricalTable members={members} matches={matches}/> -->
  </main>
</App>
