---
import App from '../layouts/App.astro';
import Hero from '@components/Hero.astro';
import type { Article } from '@components/Hero.astro'; // Importamos el tipo
import KeySections from '@components/KeySections.astro';
import type { SectionCard } from '@components/KeySections.astro';
import AllGoals from '@images/tournaments/2024/cardImg.png';
import Petrov from '@images/tournaments/2024/petrov-goal.png';
import FCHistory from '@images/tournaments/fc-history.png';
import FC26Logo from '@images/tournaments/2026/logo.png';
import Logo from '@images/logo.png';
import HeroCard from '@components/HeroCard.astro';
import Members from '@images/members3.png';
import RelatedNews from '@components/articles/RelatedNews.astro';
import Signup from '@images/articles/sign-up/inscription.jpg';
import { getArticles, getMatches } from '@lib/collections';
import { LINKS } from '@config/links';
import MatchCard from '@components/matches/MatchCard.astro';
import MatchCardDetailed from '@components/matches/MatchCardDetailed.astro';

// --- Datos para el Grid de Noticias ---
const featuredGridArticles: Article[] = [
  {
    title: "--- confirmed host for Forest Cup 2026",
    description: "",
    image: Petrov,
    url: "/articles",
  },
  {
    title: "Anxious & Kevin 2024: All goals",
    image: AllGoals,
    url: "https://www.youtube.com/watch?v=iddBpQbe7ak",
  },
  {
    title: "Forest Cup History",
    image: FCHistory,
    url: "/forest-cup",
  },
  {
    title: "Meet the members",
    image: Members,
    url: "/members",
  },
  {
    title: "How to participate",
    image: Signup,
    url: "/articles/signup",
  },
  {
    title: "Collaborate with us",
    image: Logo,
    url: "https://discord.com/invite/EX4sGhjbgU",
  },
];

// --- Datos para las Secciones Clave ---
const keySectionsData: SectionCard[] = [
  {
    title: "Forest Cup History",
    description: "Discover the history of the Forest Cup, from its inception to the latest edition. Explore the teams, players, and unforgettable moments.",
    buttonText: "Explore History",
    buttonUrl: "/forest-cup",
  },
  {
    title: "Meet the members",
    description: "Discover the federations and associations of Forest: their history, achievements, records, and roleplay behind each team.",
    buttonText: "See Federations",
    buttonUrl: "/members",
  },
  {
    title: "Collaborate with Us",
    description: "Join us in shaping Forestian football! We’re looking for collaborators to improve every event and grow together.",
    buttonText: "Collaborate",
    buttonUrl: "https://discord.com/invite/EX4sGhjbgU",
  },
  {
    title: "Join the Confederation",
    description: "Become a member of the Forestian Football Confederation and participate in our events and tournaments.",
    buttonText: "Join Now",
    buttonUrl: LINKS.forms.newMember,
  }
];

const matches = await getMatches();
const nextMatches = matches.filter(match => match.data.status === 'scheduled').reverse().slice(0, 4);
const last4Matches = matches.filter(match => match.data.status === 'played').slice(0, 4);
const articles = await getArticles();
articles.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

---

<App title="FFC - Forestian Football Confederation">
	<Hero articles={featuredGridArticles} />
  {last4Matches.length > 0 &&
    <div class="container mx-auto px-4 py-8 space-y-8 bg-gradient-to-b from-transparent to-green-950 rounded-3xl ">
      <h2 class="text-4xl font-bold text-center mb-10">Latest Matches</h1>
      <div class="grid md:grid-cols-2 xl:grid-cols-4 gap-4">
        {last4Matches.map(match => (
          // <MatchCard match={match} />
          <MatchCardDetailed match={match} />
        ))}
      </div>
      <h2 class="text-4xl font-bold text-center mb-10">Upcoming Matches</h1>
      <div class="grid md:grid-cols-2 xl:grid-cols-4 gap-4 items-start justify-items-start">
        {nextMatches.map(match => (
          // <MatchCard match={match} />
          <MatchCardDetailed match={match} />
        ))}
      </div>
    </div>
  }
  <KeySections title="Explore the confederation" sections={keySectionsData} />
  <!-- <div class="h-full">
      {heroCards.map((card, index) => (
        <HeroCard
          title={card.title}
          description={card.description}
          image={card.image}
          buttonText={card.buttonText}
          buttonUrl={card.buttonUrl}
          backgroundColor={card.backgroundColor}
          imagePosition={card.imagePosition}
          variant={card.variant}
          noblank={card.noblank}
        />
      ))}
  </div> -->
  <RelatedNews articles={articles} max={12} title='Latest News'/>
</App>