---
import Home from '../components/Home.astro';
import App from '../layouts/App.astro';
import { getCollection } from 'astro:content';

const members = await getCollection('members');
import MemberCard from '../components/MemberCard.astro';

---

<App title="FFC - Members">
  <main class="flex flex-col items-center">
    <div class="container flex flex-col items-center justify-center p-6">
    <h1 class="text-7xl font-bold p-6 mb-12">Official Members</h1>
      <div class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-8 gap-4">
      {members.map(member => {
        const { slug } = member; 
        const { name, code, flagPath, logoPath } = member.data; 
        return (
          <MemberCard
            name={name}
            code={code}
            flagPath={flagPath}
            logoPath={logoPath}
            slug={slug}
            />
        );
      })}
      </div>
    </div>
  </main>
</App>
