---
// src/pages/ranking.astro
import { getCollection } from 'astro:content';
import Layout from '../layouts/App.astro'; // Ajusta la ruta a tu Layout principal
import RankingTable from '../components/RankingTable.astro'; // Importa el nuevo componente
import RankingTableNew from '@components/RankingTableNew.astro';
import RankingTableDetailed from '@components/RankingTableDetailed.astro';


const allMembers = await getCollection('members');
const tournaments = await getCollection('tournaments');
const matches = await getCollection('matches');

// Opcional: especificar el torneo actual
const currentTournamentId = 3;
---
<Layout title="FFC - Ranking">
  <main class="">
    <!-- <RankingTable members={allMembers} /> -->
    <RankingTableNew
      members={allMembers}
      tournaments={tournaments}
      matches={matches}
      currentTournamentId={currentTournamentId}
    />
  </main>
</Layout>
