---
import Layout from '@layouts/App.astro'
import RankingTable from '@components/RankingTable.astro';
import RankingTableNew from '@components/RankingTableNew.astro';
import RelatedNews from '@components/articles/RelatedNews.astro';
import RankingLegend from '@components/ranking/RankingLegend.astro';

import { getMembers, getTournaments, getMatches, getArticles } from '@lib/collections';
import{ getArticlesByTags } from '@lib/articleUtils';

const allMembers = await getMembers();
const tournaments = await getTournaments();
const matches = await getMatches();
const articles = await getArticles();

const filterTags = [
  "ranking",
];

const filteredArticles = getArticlesByTags(articles, filterTags);

// Opcional: especificar el torneo actual
const currentTournamentId = 3;
---
<Layout title="FFC - Ranking">
  <main class="">
    <!-- <RankingTable members={allMembers} /> -->
    <RankingLegend
      members={allMembers}
      tournaments={tournaments}
      matches={matches}
      currentTournamentId={currentTournamentId}
    />
    <!-- <RankingTableNew
      members={allMembers}
      tournaments={tournaments}
      matches={matches}
      currentTournamentId={currentTournamentId}
    /> -->
    <RelatedNews articles={filteredArticles} max={4} />
  </main>
</Layout>
