---
import { getCollection, type CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';
import { getMemberImage } from '@lib/memberUtils';
import App from '@layouts/App.astro'; 
import MatchCard from '@components/MatchCard.astro'; 
import MatchCardCompact from '@components/MatchCardCompact.astro'; 
import Bracket from '@components/tournaments/Bracket.astro'; 
import Groups from '@components/tournaments/Groups.astro';
import KnockoutMatches from '@components/tournaments/KnockoutMatches.astro';
import TournamentGrid from '@components/tournaments/TournamentGrid.astro'; 
import TournamentStats from '@components/tournaments/TournamentStats.astro';
import TournamentStandings from '@components/tournaments/TournamentStandings.astro';
import { getMatchWinner } from '@lib/matchUtils.ts';
import TournamentHero from '@components/tournaments/TournamentHero.astro';

const tournamentsCollection = await getCollection('tournaments');
// const matchesCollection = await getCollection('matches');
const matchesCollection = (await getCollection('matches'))
  .filter(match => match.slug.startsWith('forest-cup-2022/'));
const membersCollection = await getCollection('members');

const TOURNAMENT_ID = 1;
const tournamentEntry = tournamentsCollection.find(t => t.data.id === TOURNAMENT_ID);

if (!tournamentEntry) {
  // throw new Error(`Torneo con ID "${TOURNAMENT_ID}" no encontrado en la colección 'tournaments'.`);
  return Astro.redirect('/404');
}

const FC2022Data = tournamentEntry.data;
const { Content } = await tournamentEntry.render();

// Matches
const fc2022Matches = matchesCollection
  /* .filter(match => match.data.tournament_id === TOURNAMENT_ID) */
  .sort((a, b) => a.data.date.getTime() - b.data.date.getTime()); // Ordenar por fecha
const knockoutMatches = fc2022Matches.filter(match => match.data.stage === 'knockout');

// Imagenes
import FC22Logo from '@images/tournaments/2022/logo.png'; 
import Champions from '@images/tournaments/2022/atsvea-champions.png';
import Greenaway from '@images/tournaments/2022/greenaway.png';
import WolfFreeKick from '@images/tournaments/2022/wolf-freekick.png';
import KaskBicycleKick from '@images/tournaments/2022/kask-bicycle.png';
import FinalMatch from '@images/tournaments/2022/final-match.png';
import Vela from '@images/tournaments/2022/vela.png';
import Dartmouth from '@images/tournaments/2022/dartmouth.png';

// Función auxiliar para encontrar los partidos de una fixture específica (si es necesario)
// Nota: Esto puede ser complejo si la estructura de `FC2022Data` no coincide perfectamente
// con cómo quieres mostrar los partidos de `fc2022Matches`.
const getMatchesForFixture = (stageName?: string, groupName?: string, fixtureName?: string) => {
    return fc2022Matches.filter(m =>
        (!stageName || m.data.stage === stageName) &&
        (!groupName || m.data.group === groupName) &&
        (!fixtureName || m.data.fixture === fixtureName)
    );
}

const pageTitle = `FFC - ${FC2022Data.name || 'Forest Cup'}`;
const winner = getMatchWinner(getMatchesForFixture('knockout', undefined, 'Final')[0].data); 
---

<App title={pageTitle}>
  <main class="flex flex-col items-center relative">
    <div class="flex flex-col justify-center items-center bg-gradient-to-b from-transparent to-green-900/50 w-full">
      <TournamentGrid currentTournament={FC2022Data}/>
      <TournamentHero currentTournament={FC2022Data} members={membersCollection} />
       <!-- <div class="flex justify-between items-start h-full p-6 gap-6">
         <div class="flex flex-col gap-6 items-center p-16">
           {winner && (
            //  <div class="flex items-center gap-6">
            //    {getMemberImage(winner, membersCollection) && (
            //      <Image src={getMemberImage(winner, membersCollection)!} alt={`${winner} Flag`} 
            //      width={150} quality={10} format="webp"
            //      class="w-24 rounded-xl object-cover ring-1 ring-green-700" loading={"eager"} />
            //    )}
            //    <h1 class="text-5xl font-bold">{winner}</h1>
            //  </div>
             <div class="flex items-center">
               <h1 class="text-2xl">Champions</h1>
             </div>
           )}
           {!winner && FC2022Data.participants && (
              <p class="text-xl text-gray-400 italic">(Winner details not specified in prizes, showing participants)</p>
           )}
         </div> -->
       <!-- </div> -->
    </div>
    <!-- News -->
    <div class="w-full bg-gradient-to-b from-green-900/50 to-green-900">
      <!-- Headlines -->
      <div class="w-full items-center flex justify-center p-6">
        <div class="max-w-10/12 flex flex-col lg:grid grid-cols-4 justify-center items-center gap-4">
          <a href="https://youtu.be/dxx2pF9TOR4?si=oDugjymEcqpIWEln" target="_blank" 
            class="relative overflow-hidden rounded-2xl col-span-3 w-[95%] group">
            <Image src={FinalMatch} 
              alt="Final Match" 
              class="rounded-xl object-cover group-hover:scale-105 transition duration-300" 
              loading="lazy"
              width={1080} 
              quality={40}
              format="webp"
              />
            <div class="absolute inset-0 bg-gradient-to-tr from-green-950 from-10% to-40% to-transparent"></div>
            <div class="absolute bottom-7 left-7 text-white">
              <h2 class="text-5xl font-bold text-shadow">The Final</h2>
            </div>
          </a>
      
          <!-- Panel derecho: Headlines -->
          <div class="flex flex-col bg-green-950 rounded-2xl w-full max-w-sm px-4 py-2">
            <h2 class="text-xl font-bold text-white border-b border-green-600">Headlines</h2>
      
            <!-- Cada carta -->
            <div class="flex items-center justify-center py-2 border-b border-green-600 last:border-b-0">
              <a href="https://youtu.be/HQJcfs5rKrs?si=EjpyeGgIAh2x_be2" target="_blank" class="flex items-center justify-start w-full group">
                <div class="h-24 w-40 rounded-2xl overflow-hidden flex-shrink-0">
                  <Image src={Greenaway} alt="All Goals" 
                  class="h-full w-full object-cover group-hover:scale-110 transition duration-300 object-top" loading="lazy" width={200} 
                  quality={50} format="webp" />
                </div>
                <h2 class="text-md ms-4 text-white">Watch All Goals</h2>
              </a>
            </div>
      
            <div class="flex items-center justify-center py-2 border-b border-green-600 last:border-b-0">
              <a href="https://youtube.com/clip/UgkxnRSBN8vsKt9WX1JlmCPPzJoZjkVbfBj3?si=T4pFoq9ZXLGn_4GT" target="_blank" class="flex items-center justify-start w-full group">
                <div class="h-24 w-40 rounded-2xl overflow-hidden flex-shrink-0">
                  <Image src={KaskBicycleKick} quality={50} format="webp"
                  alt="Kask Bicycle Kick" class="h-full w-full object-cover group-hover:scale-110 transition duration-300 object-left-top" loading="lazy" width={200} />
                </div>
                <h2 class="text-md ms-4 text-white">Kask incredible bicycle kick</h2>
              </a>
            </div>
  
            <div class="flex items-center justify-center py-2 border-b border-green-600 last:border-b-0">
              <a href="#prizes" class="flex items-center justify-start w-full group">
                <div class="h-24 w-40 rounded-2xl overflow-hidden flex-shrink-0">
                  <Image src={Vela} quality={50} format="webp"
                  alt="Vela Best player" class="h-full w-full object-cover group-hover:scale-110 transition duration-300 object-[center_20%]" loading="lazy" width={200} />
                </div>
                <h2 class="text-md ms-4 text-white">Vela: Best player</h2>
              </a>
            </div>
            
            <div class="flex items-center justify-center py-2 border-b border-green-600 last:border-b-0">
              <a href="https://youtu.be/vZ7o6dRT740?si=FTXSTWBlnCFQVdGq&t=220" target="_blank" class="flex items-center justify-start w-full group">
                <div class="h-24 w-40 rounded-2xl overflow-hidden flex-shrink-0">
                  <Image src={Dartmouth} quality={50} format="webp"
                  alt="Dartmouth Hat-Trick" class="h-full w-full object-cover group-hover:scale-110 transition duration-300 object-left" loading="lazy" width={200} />
                </div>
                <h2 class="text-md ms-4 text-white">Malcom Dartmouth's Hat-Trick to comeback Jutsa</h2>
              </a>
            </div>
  
            <div class="flex items-center justify-center py-2 border-b border-green-600 last:border-b-0">
              <a href="https://youtube.com/clip/UgkxJhD0B2OAPLnGjNjEO64Aj6XrYj5Gelnx?si=8nYsC4Cw5oJ_bObF" target="_blank" class="flex items-center justify-start w-full group">
                <div class="h-24 w-40 rounded-2xl overflow-hidden flex-shrink-0">
                  <Image src={WolfFreeKick} quality={50} format="webp"
                  alt="Wolf free kick" class="h-full w-full object-cover group-hover:scale-110 transition duration-300" loading="lazy" width={200} />
                </div>
                <h2 class="text-md ms-4 text-white">Wolf's free kick awarded as best goal</h2>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div class="w-full bg-gradient-to-b from-green-900/80 to-green-800">

    <TournamentStats
    tournament={tournamentEntry}
    matches={fc2022Matches}
    members={membersCollection}
    />
    
    <Groups
    matches={fc2022Matches}
    members={membersCollection.filter(member => FC2022Data.participants.includes(member.data.name))}
    />
    
    <KnockoutMatches
    knockoutMatches={knockoutMatches}
    members={membersCollection}
    />
    <div class="flex flex-col justify-center items-center w-full gap-4 py-4">
      <Bracket matches={fc2022Matches} tournament={FC2022Data} members={membersCollection} />
    </div>
    <!-- <div class="prose dark:prose-invert bg-white dark:bg-green-900 shadow-lg rounded-lg p-6 my-8 w-full max-w-4xl mx-auto">
       <h2 class="text-2xl font-semibold mb-4 text-gray-900 dark:text-white border-b pb-2 border-gray-200 dark:border-green-600">Tournament Notes</h2>
       <Content />
    </div> -->
    <TournamentStandings
    tournament={tournamentEntry}
    matches={fc2022Matches}
    members={membersCollection.filter(member => FC2022Data.participants.includes(member.data.name))}
    />

    </main>
</App>