---
import { getCollection, type CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';
import { getMemberImage } from '../../lib/memberUtils';
import App from '../../layouts/App.astro'; 
import Bracket from '../../components/tournaments/Bracket.astro'; 
import Groups from '../../components/tournaments/Groups.astro';
import KnockoutMatches from '../../components/tournaments/KnockoutMatches.astro';
import TournamentGrid from '../../components/tournaments/TournamentGrid.astro'; 
import TournamentStandings from '../../components/tournaments/TournamentStandings.astro';
import { getMatchWinner } from '../../lib/matchUtils.ts';

type Tournament = CollectionEntry<'tournaments'>['data'];
type Match = CollectionEntry<'matches'>['data'];
type Member = CollectionEntry<'members'>['data'];

const tournamentsCollection = await getCollection('tournaments');
// const matchesCollection = await getCollection('matches');
const matchesCollection = (await getCollection('matches'))
  .filter(match => match.slug.startsWith('forest-cup-2024/'));
const membersCollection = await getCollection('members');

const TOURNAMENT_ID = 2;
const tournamentEntry = tournamentsCollection.find(t => t.data.id === TOURNAMENT_ID);

if (!tournamentEntry) {
  // throw new Error(`Torneo con ID "${TOURNAMENT_ID}" no encontrado en la colección 'tournaments'.`);
  return Astro.redirect('/404');
}

const FC2024Data = tournamentEntry.data;
const { Content } = await tournamentEntry.render();

// Matches
const fc2024Matches = matchesCollection
  /* .filter(match => match.data.tournament_id === TOURNAMENT_ID) */
  .sort((a, b) => a.data.date.getTime() - b.data.date.getTime()); // Ordenar por fecha
const knockoutMatches = fc2024Matches.filter(match => match.data.stage === 'knockout');

// Imagenes
import FC24Logo from '../../assets/images/tournaments/2024/banner.png'; 
import AllGoalsHero from '../../assets/images/tournaments/2024/all-goals.png';
import FinalMatch from '../../assets/images/tournaments/2024/final-match.png';
import NysnubShow from '../../assets/images/tournaments/2024/nysnub-show.png';
import LongestPenalty from '../../assets/images/tournaments/2024/longest-penalty.png';
import BestGoal from '../../assets/images/tournaments/2024/best-goal.png';
import MVPTarasov from '../../assets/images/tournaments/2024/mvp-tarasov.png';
import TournamentStats from '../../components/tournaments/TournamentStats.astro';

// Función auxiliar para encontrar los partidos de una fixture específica (si es necesario)
// Nota: Esto puede ser complejo si la estructura de `FC2024Data` no coincide perfectamente
// con cómo quieres mostrar los partidos de `fc2024Matches`.
const getMatchesForFixture = (stageName?: string, groupName?: string, fixtureName?: string) => {
    return fc2024Matches.filter(m =>
        (!stageName || m.data.stage === stageName) &&
        (!groupName || m.data.group === groupName) &&
        (!fixtureName || m.data.fixture === fixtureName)
    );
}

const pageTitle = `FFC - ${FC2024Data.name || 'Forest Cup'}`;
const winner = getMatchWinner(getMatchesForFixture('knockout', undefined, 'Final')[0].data); 
---

<App title={pageTitle}>
  <main class="flex flex-col items-center">
    <div class="flex flex-col justify-center items-center pb-6 w-full bg-gradient-to-b from-transparent to-green-900/80">
      <TournamentGrid currentTournament={FC2024Data}/>
      <Image src={FC24Logo} alt={`${FC2024Data.name} Logo`} class="py-8 max-w-7xl lg:w-4xl md:w-2xl xl:w-auto sm:w-lg w-sm" 
      width={1280}
      loading={"eager"}/>
      <div class="flex justify-between items-start h-full p-6 gap-6">
        <div class="flex flex-col gap-6 items-center p-16">
          {winner && (
            <div class="flex items-center gap-6">
              {getMemberImage(winner, membersCollection) && (
                <Image src={getMemberImage(winner, membersCollection)!} alt={`${winner} Flag`} 
                width={200}
                class="h-24 w-auto rounded-xl object-cover ring-1 ring-green-700" loading={"eager"} />
              )}
              <h1 class="text-5xl font-bold">{winner}</h1>
            </div>
            <div class="flex items-center">
              <h1 class="text-2xl">Champions</h1>
            </div>
          )}
          {!winner && FC2024Data.participants && (
            <p class="text-xl text-gray-400 italic">(Winner details not specified in prizes, showing participants)</p>
          )}
        </div>
      </div>  
    </div>
    <!-- News -->
    <div class="w-full bg-gradient-to-b from-green-900/80 to-green-900">
      <!-- Headlines -->
      <div class="w-full items-center flex justify-center p-6">
        <div class="max-w-10/12 flex flex-col lg:grid grid-cols-4 justify-center items-center gap-4">
          <a href="https://www.youtube.com/live/XJPwf45Eh4w?si=8Akzbug1jY6sOFv9&t=297" target="_blank" 
            class="relative overflow-hidden rounded-2xl col-span-3 w-[95%] group">
            <Image src={FinalMatch} 
              alt="Final Match" 
              class="rounded-xl object-cover group-hover:scale-105 transition duration-300" 
              loading="lazy"
              width={1080} />
            <div class="absolute inset-0 bg-gradient-to-tr from-green-950 from-15% to-40% to-transparent"></div>
            <div class="absolute bottom-7 left-7 text-white">
              <h2 class="text-5xl font-bold text-shadow">Revive the Final</h2>
            </div>
          </a>
      
          <!-- Panel derecho: Headlines -->
          <div class="flex flex-col bg-green-950 rounded-2xl w-full max-w-sm px-4 py-2">
            <h2 class="text-xl font-bold text-white border-b border-green-600">Headlines</h2>
      
            <!-- Cada carta -->
            <div class="flex items-center justify-center py-2 border-b border-green-600 last:border-b-0">
              <a href="https://www.youtube.com/watch?v=iddBpQbe7ak" target="_blank" class="flex items-center justify-start w-full group">
                <div class="h-24 w-40 rounded-2xl overflow-hidden flex-shrink-0">
                  <Image src={AllGoalsHero} alt="All Goals" class="h-full w-full object-cover group-hover:scale-110 transition duration-300" loading="lazy" width={200} />
                </div>
                <h2 class="text-md ms-4 text-white">Watch All Goals</h2>
              </a>
            </div>
      
            <div class="flex items-center justify-center py-2 border-b border-green-600 last:border-b-0">
              <a href="#prizes" class="flex items-center justify-start w-full group">
                <div class="h-24 w-40 rounded-2xl overflow-hidden flex-shrink-0">
                  <Image src={MVPTarasov} alt="Tarasov MVP" class="h-full w-full object-cover group-hover:scale-115 transition duration-300 scale-110 object-top" loading="lazy" width={200} />
                </div>
                <h2 class="text-md ms-4 text-white">Tarasov wins the Golden Ball</h2>
              </a>
            </div>
      
            <div class="flex items-center justify-center py-2 border-b border-green-600 last:border-b-0">
              <a href="https://youtube.com/shorts/vzUKv51dzuU" target="_blank" class="flex items-center justify-start w-full group">
                <div class="h-24 w-40 rounded-2xl overflow-hidden flex-shrink-0">
                  <Image src={NysnubShow} alt="Nysnub Show" class="h-full w-full object-cover group-hover:scale-105 transition duration-300 object-top" loading="lazy" width={200} />
                </div>
                <h2 class="text-md ms-4 text-white">Nysnub Show: 4 goals in one match</h2>
              </a>
            </div>
      
            <div class="flex items-center justify-center py-2 border-b border-green-600 last:border-b-0">
              <a href="https://youtube.com/clip/UgkxhC53IxiU-6hjxn5H_XDy_XJsLO-ki5wE?si=c3TqUN6alOi30lv2" target="_blank" class="flex items-center justify-start w-full group">
                <div class="h-24 w-40 rounded-2xl overflow-hidden flex-shrink-0">
                  <Image src={BestGoal} alt="Cacusia goal" class="h-full w-full object-cover group-hover:scale-110 transition duration-300" loading="lazy" width={200} />
                </div>
                <h2 class="text-md ms-4 text-white">Cacusia outstanding play</h2>
              </a>
            </div>
      
            <div class="flex items-center justify-center py-2 border-b border-green-600 last:border-b-0">
              <a href="https://youtube.com/clip/UgkxpY5l94Lpkwctfl8yymRpTlVJimy-HAQN?si=mt_yHADNDHSYjEXZ" target="_blank" class="flex items-center justify-start w-full group">
                <div class="h-24 w-40 rounded-2xl overflow-hidden flex-shrink-0">
                  <Image src={LongestPenalty} alt="Longest Penalty Shootout" class="h-full w-full object-cover group-hover:scale-110 transition duration-300" loading="lazy" width={200} />
                </div>
                <h2 class="text-md ms-4 text-white">Longest penalty shootout ever!</h2>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <TournamentStats
    tournament={tournamentEntry}
    matches={fc2024Matches}
    members={membersCollection}
    />
    <Groups
    matches={fc2024Matches}
    members={membersCollection}
    />
    <KnockoutMatches
    knockoutMatches={knockoutMatches}
    members={membersCollection}
    />
    <div class="flex flex-col justify-center items-center w-full gap-4">
      <Bracket matches={fc2024Matches} members={membersCollection} />
    </div>
    <!-- <div class="prose dark:prose-invert bg-white dark:bg-green-900 shadow-lg rounded-lg p-6 my-8 w-full max-w-4xl mx-auto">
       <h2 class="text-2xl font-semibold mb-4 text-gray-900 dark:text-white border-b pb-2 border-gray-200 dark:border-green-600">Tournament Notes</h2>
       <Content />
    </div> -->

    <TournamentStandings
    tournament={tournamentEntry}
    matches={fc2024Matches}
    members={membersCollection.filter(member => FC2024Data.participants.includes(member.data.name))}
    />

    </main>
</App>