---
import { type CollectionEntry } from 'astro:content';
import { getTournaments, getMatches, getMembers, getArticles } from '@lib/collections';
import App from '@layouts/App.astro'; 
import Bracket from '@components/tournaments/Bracket.astro'; 
import Playoffs from '@components/tournaments/Playoffs.astro';
import Groups from '@components/tournaments/Groups.astro';
import KnockoutMatches from '@components/tournaments/KnockoutMatches.astro';
import TournamentStandings from '@components/tournaments/TournamentStandings.astro';
import TournamentHero from '@components/tournaments/TournamentHero.astro';
import Headlines from '@components/tournaments/Headlines.astro';
import TournamentStats from '@components/tournaments/TournamentStats.astro';
import { getMemberByName } from 'src/utils/memberUtils';
import { getArticlesByTags } from 'src/utils/articleUtils';
import RelatedNews from '@components/articles/RelatedNews.astro';
import { ROUTES } from '@config/routes';

type Tournament = CollectionEntry<'tournaments'>['data'];
type Match = CollectionEntry<'matches'>['data'];
type Member = CollectionEntry<'members'>['data'];

const tournamentsCollection = await getTournaments();
const matchesCollection = (await getMatches())
  .filter(match => match.slug.startsWith('forest-cup-2026/'));
const membersCollection = await getMembers();

const TOURNAMENT_ID = 3;
const tournamentEntry = tournamentsCollection.find(t => t.data.id === TOURNAMENT_ID);

if (!tournamentEntry) {
  // throw new Error(`Torneo con ID "${TOURNAMENT_ID}" no encontrado en la colección 'tournaments'.`);
  return Astro.redirect('/404');
}

const FCData = tournamentEntry.data;

// Matches
const fcMatches = matchesCollection
  /* .filter(match => match.data.tournament_id === TOURNAMENT_ID) */
  .sort((a, b) => a.data.date.getTime() - b.data.date.getTime()); // Ordenar por fecha
const groupMatches = fcMatches.filter(match => match.data.stage === 'group');
const knockoutMatches = fcMatches.filter(match => match.data.stage === 'knockout');
const playoffMatches = fcMatches.filter(match => match.data.stage === 'playoff');

const articles = await getArticles();
const filterTags = [
  "forest-cup",
  "forest-cup-" + FCData.edition,
];
const filteredArticles = getArticlesByTags(articles, filterTags);

// Imagenes
import CacusiaHost from '@images/articles/cacusia-host/banner.png';
import Sportwears from '@images/articles/new-sportwears/banner.jpg';

const headlines = [
  {
    title: "Cacusia confirmed host for Forest Cup 2026",
    image: CacusiaHost,
    link: ROUTES.articles.detail("cacusia-host"),
    noblank: false,
  },
  {
    title: "New official sportswear suppliers for 2026",
    image: Sportwears,
    link: ROUTES.articles.detail("new-sportwears"),
    noblank: false,
  },
]

const pageTitle = `FFC - ${FCData.name || 'Forest Cup'}`;
const winner = await getMemberByName(FCData.champion) || undefined; 
---

<App title={pageTitle}>
  <main class="flex flex-col items-center relative">
    <div class="flex flex-col justify-center items-center w-full bg-gradient-to-b from-transparent to-green-900/80">
      <!-- <TournamentGrid currentTournament={FCData}/> -->
      <TournamentHero currentTournament={FCData} champion={winner} />
    </div>
    <!-- News -->
    <Headlines headlines={headlines}/>
    
    {fcMatches.filter(match => match.data.status === 'played').length > 0 && <TournamentStats
    tournament={tournamentEntry}
    matches={fcMatches}
    />}
    {playoffMatches.length > 0 &&
      <Playoffs
      playoffMatches={playoffMatches}
      />
    }
    {groupMatches.length > 0 &&
    <Groups
    matches={groupMatches}
    />
    }
    {knockoutMatches.length > 0 &&
    <KnockoutMatches
    knockoutMatches={knockoutMatches}
    />}
    <TournamentStandings
      tournament={tournamentEntry}
      matches={fcMatches}
    />  
    <RelatedNews articles={filteredArticles} max={4} />
  </main>
</App>