---
import App from '../../layouts/App.astro';
import Carousel from '../../components/react/Carousel';
import MatchCard from '../../components/MatchCard.astro';

import { members } from '../../content/members';
import { tournaments } from '../../content/tournaments';

import { Image } from 'astro:assets';
import FC22Logo from '../../assets/images/forest-cup/2022/logo.png';
import FCLogo from '../../assets/images/forest-cup/forest-cup.png';
import AtsveaFlag from '../../assets/images/forest-cup/2022/atsvea.png'; 
import AllGoals from '../../assets/images/hero2.png'; 

const FC2022 = tournaments.find(tournament => tournament.id === 2);
// const Participants = members.filter(member => FC2022?.participants.includes(member.name));

const slides = [
  {
    src: "/src/assets/images/hero2.png",
    alt: "All Goals",
    videoId: "HQJcfs5rKrs",
  },
  {
    src: "/src/assets/images/forest-cup/2022-final.png",
    alt: "Final",
    videoId: "dxx2pF9TOR4",
  },
  {
    src: "/src/assets/images/hero2.png",
    alt: "Semifinals",
    videoId: "rc8UYbxFyRw",
  },
  {
    src: "/src/assets/images/hero2.png",
    alt: "Quarter Finals",
    videoId: "vZ7o6dRT740",
  },
  {
    src: "/src/assets/images/hero2.png",
    alt: "Day 3",
    videoId: "aP8APqz4n0U",
  },
  {
    src: "/src/assets/images/hero2.png",
    alt: "Day 2",
    videoId: "uhSVoz-2miE",
  },
  {
    src: "/src/assets/images/hero2.png",
    alt: "Day 1",
    videoId: "F_3ckioqvnU",
  },
];

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<App title="FFC - Forest Cup Bilsa 2022">
  <main class="flex flex-col items-center">
    <!-- Banner para el fondo oscuro-->
    <div class="flex flex-col justify-center items-center pb-6 bg-gradient-to-r from-transparent to-transparent via-black/20 w-full">
      <!-- Container -->
      <Image src={FC22Logo} alt="Forest Cup 2020 Logo" class="max-w-7xl  lg:w-4xl md:w-2xl xl:w-auto sm:w-lg w-sm" loading={"eager"}/>
      <div class="flex justify-between items-start h-full p-6 gap-6">
        <div class="flex flex-col gap-6 items-center">
          <div class="flex items-center gap-6">
            <Image src={AtsveaFlag} alt="Winner Flag" class="h-24 w-auto rounded-xl object-cover ring-1 ring-green-700" loading={"eager"}/>
            <h1 class="text-5xl font-bold">{FC2022?.winner}</h1>
          </div>
          <div class="flex items-center">
            <h1 class="text-2xl">Champions</h1>
          </div>
        </div>
      </div>
      
    </div>
    <!-- Headlines -->
    <div class="w-full bg-gray-300 items-center flex justify-center p-6">
      <div class="max-w-10/12 grid grid-cols-4 justify-center items-center">
        <a href="https://youtu.be/HQJcfs5rKrs" target="_blank" class="relative overflow-hidden rounded-2xl col-span-3 w-11/12">
          <Image src={AllGoals} alt="All Goals" class="rounded-xl object-cover hover:scale-105 transition duration-300" loading={"eager"}/>
          <div class="absolute bottom-7 left-7 text-white">
            <h2 class="text-6xl font-bold">
              All Goals
            </h2>
          </div>
        </a>
        <div class="grid grid-rows-6 gap-1 justify-center items-center bg-green-950 rounded-2xl w-max mx-0 px-4">
          <div class="row-span-1 flex items-center justify-center py-2 border-b-2 border-white w-full">
            <a href="https://youtu.be/HQJcfs5rKrs" target="_blank" 
              class="flex items-center justify-between w-full group">
              <div class="h-20 w-36 rounded-2xl overflow-hidden">
                <Image src={AllGoals} alt="All Goals" class="h-full w-full object-cover group-hover:scale-105 transition duration-300" loading={"eager"}/>
              </div>
              <h2 class="text-lg ms-4">
                Final - Cacusia vs Atsvea
              </h2>
            </a>
          </div>
          <div class="row-span-1 flex items-center justify-center py-2 border-b-2 border-white w-full">
            <a href="https://youtu.be/HQJcfs5rKrs" target="_blank" 
              class="flex items-center justify-between w-full group">
              <div class="h-20 w-36 rounded-2xl overflow-hidden">
                <Image src={AllGoals} alt="All Goals" class="h-full w-full object-cover group-hover:scale-105 transition duration-300" loading={"eager"}/>
              </div>
              <h2 class="text-lg ms-4">
                Final - Cacusia vs Atsvea
              </h2>
            </a>
          </div>
          <div class="row-span-1 flex items-center justify-center py-2 border-b-2 border-white w-full">
            <a href="https://youtu.be/HQJcfs5rKrs" target="_blank" 
              class="flex items-center justify-between w-full group">
              <div class="h-20 w-36 rounded-2xl overflow-hidden">
                <Image src={AllGoals} alt="All Goals" class="h-full w-full object-cover group-hover:scale-105 transition duration-300" loading={"eager"}/>
              </div>
              <h2 class="text-lg ms-4">
                Final - Cacusia vs Atsvea
              </h2>
            </a>
          </div>
          <div class="row-span-1 flex items-center justify-center py-2 border-b-2 border-white w-full">
            <a href="https://youtu.be/HQJcfs5rKrs" target="_blank" 
              class="flex items-center justify-between w-full group">
              <div class="h-20 w-36 rounded-2xl overflow-hidden">
                <Image src={AllGoals} alt="All Goals" class="h-full w-full object-cover group-hover:scale-105 transition duration-300" loading={"eager"}/>
              </div>
              <h2 class="text-lg ms-4">
                Final - Cacusia vs Atsvea
              </h2>
            </a>
          </div>
          <div class="row-span-1 flex items-center justify-center py-2 border-b-2 border-white w-full">
            <a href="https://youtu.be/HQJcfs5rKrs" target="_blank" 
              class="flex items-center justify-between w-full group">
              <div class="h-20 w-36 rounded-2xl overflow-hidden">
                <Image src={AllGoals} alt="All Goals" class="h-full w-full object-cover group-hover:scale-105 transition duration-300" loading={"eager"}/>
              </div>
              <h2 class="text-lg ms-4">
                Final - Cacusia vs Atsvea
              </h2>
            </a>
          </div>
          <div class="row-span-1 flex items-center justify-center py-2 w-full">
            <a href="https://youtu.be/HQJcfs5rKrs" target="_blank" 
              class="flex items-center justify-between w-full group">
              <div class="h-20 w-36 rounded-2xl overflow-hidden">
                <Image src={AllGoals} alt="All Goals" class="h-full w-full object-cover group-hover:scale-105 transition duration-300" loading={"eager"}/>
              </div>
              <h2 class="text-lg ms-4">
                Final - Cacusia vs Atsvea
              </h2>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Carosel -->
    <!-- Bracket -->
    <!-- Groups -->
    <!-- All Matches (Despegable) -->
    <div class="flex flex-col justify-center items-center p-6 bg-green-950/10 w-full gap-4">
      {FC2022?.stages && FC2022.stages.map((stage) => (
        <div class="container bg-green-800 rounded-2xl p-6">
          <div class="text-center mb-8">
            <h3 class="text-7xl font-black text-white">{stage.name}</h3>
          </div>
          
          {stage.type === 'group' ? (
            <div class="flex flex-col p-6 gap-6">
              {stage.groups?.map((group) => (
                <div class="">
                  <h4 class="text-4xl font-bold text-white">{group.name}</h4>
                  <div class="grid grid-rows-1 md:grid-rows-2 lg:grid-rows-3 gap-6">
                    {group.fixture?.map((fixture) => (
                      <div class="">
                        <h4 class="text-lg font-semibold text-center p-2">{fixture.name}</h4>
                        <div class="flex flex-col gap-4">
                          {fixture.matches?.map((match) => (
                            <MatchCard 
                              match={match} 
                              participants={FC2022.participants}
                            />
                          ))}
                        </div>
                      </div>
                    ))}
                  </div>
                </div>
              ))}
            </div>
          ) : (
            <div class="flex flex-col space-y-6">
              {stage.fixture?.map((fixture) => (
                <div>
                  <h4 class="text-2xl font-semibold mb-4 text-center">{fixture.name}</h4>
                  {fixture.matches?.map((match) => (
                    <MatchCard 
                      match={match} 
                      participants={FC2022.participants}
                      fullWidth
                    />
                  ))}
                </div>
              ))}
            </div>
          )}
        </div>
      ))}
    </div>
    <!-- Individual Results -->
    <!-- Overall Standings -->
    <!-- Other -->
    <!-- Tournaments -->
    <div class="flex justify-center p-6">
      <div class="container">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
          {FC2022 && (
            <div class="container flex flex-col justify-center items-center pt-6">
              <div class="mt-6">
                <h2 class="text-2xl font-bold">{FC2022.name}</h2>
                <p>Winner: {FC2022.winner}</p>
                <p>Runner-up: {FC2022.runner_up}</p>
              </div>
            </div>
          )}
        </div>
      </div>
    </div>
  </main>
</App>
