---
import App from '../../layouts/App.astro';
import { tournaments } from '../../content/tournaments';

import { Image } from 'astro:assets';
import FC20Logo from '../../assets/images/forest-cup/2020/logo.png';
import FCLogo from '../../assets/images/forest-cup/forest-cup.png';
import Trophy from '../../assets/images/forest-cup/trophy.png';
import { members } from '../../content/members';
import RuinenlustFlag from '../../assets/images/forest-cup/2020/ruinenlust.png'; 
import CannibalandFlag from '../../assets/images/forest-cup/2020/cannibaland.svg'; 

const FC2020 = tournaments.find(tournament => tournament.id === 1);
const Winner = members.find(member => member.name === FC2020?.winner);
const RunnerUp = members.find(member => member.name === FC2020?.runner_up);

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<App title="FFC - Forest Cup Bilsa 2020">
  <main class="flex flex-col items-center">
    <!-- Banner para el fondo oscuro-->
     
    <div class="flex justify-center items-center py-6 bg-gradient-to-r from-transparent to-transparent via-black/20 w-full">
      <!-- Container -->
      <div class="flex flex-col items-center">
        <Image src={FCLogo} alt="Forest Cup Logo" class="h-24 w-auto transform " loading={"eager"}/>
        <Image src={FC20Logo} alt="Forest Cup 2020 Logo" class="h-72 w-auto transform " loading={"eager"}/>
      </div>
      <div class="flex justify-between items-start h-full p-6 gap-6">
        <div>
          <div class="flex flex-col gap-6 items-center">
            <div class="flex items-center gap-6">
              <Image src={RuinenlustFlag} alt="Winner Flag" class="h-24 w-auto rounded-xl object-cover ring-1 ring-green-700" loading={"eager"}/>
              <h1 class="text-5xl font-bold">{FC2020?.winner}</h1>
            </div>
            <div class="flex items-center">
              <Image src={Trophy} alt="Forest Cup Trophy" class="h-16 w-auto" loading={"eager"}/>
              <h1 class="text-2xl">Champions</h1>
            </div>
          </div>
          <!-- Resultado partido Final -->
          <div class="text-2xl flex flex-col items-center justify-between">
            <h1 class="text-2xl font-bold">Final</h1>
            <div class="flex items-center justify-end gap-2">
              <Image src={RuinenlustFlag} alt="Forest Cup Logo" class="h-12 w-12 object-cover ring-1 ring-green-700 rounded-full" loading={"eager"}/>
              <span class="font-bold">1 - 0</span>
              <Image src={CannibalandFlag} alt="Forest Cup Logo" class="h-12 w-12 object-cover ring-1 ring-green-700 rounded-full" loading={"eager"}/>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <!-- Tournaments -->
    <div class="flex justify-center p-6">
      <div class="container">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
          {FC2020 && (
            <div class="container flex flex-col justify-center items-center pt-6">
              <div class="mt-6">
                <h2 class="text-2xl font-bold">{FC2020.name}</h2>
                <p>Winner: {FC2020.winner}</p>
                <p>Runner-up: {FC2020.runner_up}</p>
              </div>
            </div>
          )}
        </div>
      </div>
    </div>
  </main>
</App>
