---
// import HistoricalTable from '../components/react/HistoricalTable';
import Table from '@components/tournaments/HistoricalTable.astro';
import ScorersTable from '@components/tournaments/ScorersTable.astro';
import TournamentHistoryTable from '@components/tournaments/TournamentHistoryTable.astro';
import FCCard from '@components/FCCard.astro';
import App from '@layouts/App.astro';
import { Image } from 'astro:assets';
import FCLogo from '@images/tournaments/forest-cup.png';
import { getCollection } from 'astro:content';

const members = await getCollection('members');
const matchEntries = await getCollection('matches');
const tournamentEntries = await getCollection('tournaments');
const tournaments = (await getCollection('tournaments'))
  .map(tournament => {
    const { id, name, image, edition } = tournament.data;

    return {
      id,
      name,
      slug: edition,
      image,
    };
  });

const sortedTournaments = tournaments.sort((a, b) => a.id - b.id); // Ordenar por ID
const matches = matchEntries.map((entry) => entry.data);
---

<App title="FFC - Forest Cup">
  <main class="flex flex-col items-center">
    <!-- Banner -->
    <div class="container flex flex-col justify-center items-center pt-6">
        <Image src={FCLogo} alt="Forest Cup" width={700} class="w-1/2" loading={"eager"} format={"webp"} quality={50}/>
    </div>
    <!-- Tournaments -->
    <div class="flex justify-center p-6">
      <div class="container">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
          {sortedTournaments.slice().reverse().map(({ name, image, slug }) => (
            <FCCard
              title={name}
              imagePath={image} // Esto es ahora un import válido de astro:assets
              slug={slug}
            />
          ))}
        </div>
      </div>
    </div>
    <!-- List tournaments -->
    <div class="max-w-8xl border-t border-green-600 items-start w-full px-2 md:px-6">
      <TournamentHistoryTable tournaments={tournamentEntries} matches={matchEntries} members={members} type="forest-cup" />
    </div>
    <!-- Stats and Top Scorers -->
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-6 mb-12 items-start justify-between w-full max-w-8xl px-2 md:px-6">
      <div class="w-full flex flex-col items-center">
        <Table members={members} matches={matches} />
      </div>
      <section class="flex items-center flex-col px-1">
        <ScorersTable members={members} matches={matches} />
      </section>
    </div>
    <!-- Table -->
    <!-- <HistoricalTable members={members} matches={matches}/> -->
  </main>
</App>
