---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
interface FCCardProps {
  title: string;
  imagePath: ImageMetadata;
  slug: string;
}
const { title, imagePath, slug } = Astro.props;

if (!imagePath) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/images/tournaments/*.{jpeg,jpg,png,gif}"`);
---
<a href={`/forest-cup/${slug}`} class="flex flex-col justify-center items-center overflow-hidden 
border ring-0 hover:ring-2 hover:ring-green-300 border-green-800 
p-4 rounded-4xl w-auto">
  <div class="flex h-full items-center">
    <Image src={imagePath} class="h-auto w-full" alt={title} loading={"eager"} quality={1} format="webp"/>
  </div>
  <p class="font-bold text-xl">{title}</p>
</a>
