---
import { Image } from 'astro:assets';
// Collections
import { getSponsors } from '@lib/collections';
const sponsors = await getSponsors();
// Config
import { FEATURES } from '@config/features';
import { LINKS } from '@config/links';
import { ROUTES } from '@config/routes';
// Components
import SponsorCard from '@components/sponsors/SponsorCard.astro';
// Logos
import FooterImage from '@images/Footer.png';
import PayPalLogo from '@images/paypal.png';
import MPLogo from '@images/mercadopago.png';
import YTLogo from '@images/youtube.png';
import TwitchLogo from '@images/twitch.png';
import KickLogo from '@images/kick.png';

//If donations, change to 4, GRID COLS
const cols = FEATURES.donations ? 4 : 3;
---
<footer class="bg-green-950 border-t border-green-600">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
      <div class="md:flex md:justify-around">
        <!-- CHANGE TO GRID COLS 4 IF DONATIONS -->
        <div class={`grid grid-cols-2 gap-4 md:grid-cols-${cols} mb-6 text-center md:text-left md:order-2`}>
          
          <!-- Roleplay -->
          <div class="">
            <h2 class="mb-4 text-sm font-semibold uppercase text-white">Roleplay</h2>
            <ul class="text-gray-400 font-medium space-y-4">
              <li><a href={ROUTES.sponsor} class="hover:underline">Sponsors</a></li>
              <li><a href={ROUTES.articles.index} class="hover:underline">Articles</a></li>
            </ul>
          </div>

          <!-- Community -->
          <div class="">
            <h2 class="mb-4 text-sm font-semibold uppercase text-white">Community</h2>
            <ul class="text-gray-400 font-medium space-y-4">
              <li><a href={LINKS.nationStates.forest} target="_blank" class="hover:underline">Forest</a></li>
              <li><a href={LINKS.social.discordForest} target="_blank" class="hover:underline">Forest Discord Server</a></li>
              <li><a href={LINKS.social.discordFFC} target="_blank" class="hover:underline">FFC Discord Server</a></li>
            </ul>
          </div>

          <!-- Follow us -->
          <div class="">
            <h2 class="mb-4 text-sm font-semibold uppercase text-white">Follow us</h2>
            <ul class="text-gray-400 font-medium space-y-4">
              <li>
                <a href={LINKS.social.youtube} target="_blank" class="hover:underline">
                  <Image src={YTLogo} alt="YouTube" class="inline-block h-auto mr-2" width={16} quality={60} format="webp"/>
                  YouTube
                </a>
              </li>
              <li>
                <a href={LINKS.social.twitch} target="_blank" class="hover:underline">
                  <Image src={TwitchLogo} alt="Twitch" class="inline-block h-4 mr-2" width={16} quality={60} format="webp"/>
                  Twitch
                </a>
              </li>
              <li>
                <a href={LINKS.social.kick} target="_blank" class="hover:underline">
                  <Image src={KickLogo} alt="Kick" class="inline-block h-4 mr-2" width={16} quality={60} format="webp"/>
                  Kick
                </a>
              </li>
            </ul>
          </div>

          <!-- 4. Donate -->
          {FEATURES.donations && 
          <div class="">
            <h2 class="mb-4 text-sm font-semibold uppercase text-white">Donate</h2>
            <ul class="text-gray-400 font-medium space-y-4">
              <li>  
                <a
                  href={LINKS.donations.paypal}
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Donate via PayPal"
                >Paypal</a>
              </li>
              <li>
                <a
                  href={LINKS.donations.mercadopago}
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Donate via MercadoPago"
                >Mercadopago</a>
              </li>
            </ul>
          </div>
          }
        </div>
        <!-- Logo -->
        <div class="md:mx-12 flex justify-center md:order-1">
            <a href="https://www.nationstates.net/page=dispatch/id=2525675" target="_blank" class="flex items-center">
              <Image src={FooterImage} width={400} alt="Forestian Football Confederation"
              quality={1} format="webp"
              class="max-w-[200px] xs:max-w-[300px] sm:max-w-[400px] md:max-w-[200px] lg:max-w-[300px] xl:max-w-max h-auto self-center"
              /> 
            </a>
        </div>
    </div>
  </div>
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8 border-t border-green-600">
    <div class="flex justify-center mb-4">
      <h3 class="text-lg font-semibold text-white">Sponsors</h3>
    </div>
    <div class="flex flex-wrap justify-center gap-8 mt-4">
      {sponsors.filter((sponsor) => sponsor.data.tier !== 'national').map((sponsor) => (
        <SponsorCard sponsor={sponsor} />
      ))}
    </div>
  </div>
</footer>