---
// --- Astro Component Script ---
// Importaciones necesarias
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro:assets';
import JoinImg from '@images/icons/right-to-bracket-solid.svg';
import CarrouselImgTwo from '@images/atsvea_champion.png';
import CarrouselImgThree from '@images/tournaments/2024/all-goals.png';

// Definimos las props para el componente, manteniendo la estructura original
interface Props {
  heroImage: { src: ImageMetadata; alt: string };
  heroTitle: string;
  heroSubtitle: string;
  cta: { text: string; href: string; noblank?: boolean, logo: ImageMetadata };
}

// Obtenemos las props
const { heroImage, heroTitle, heroSubtitle, cta } = Astro.props;
---

<section class="hero z-0">
    <div class="hero__cont">
        <div class="hero__carrousel">
            <Image 
                src={CarrouselImgTwo} 
                alt="Atsvea Champion" 
                width={1200} 
                height={800}
                 class="hero__img" 
                 format="webp"
            />
            <Image
                src={heroImage.src}
                alt={heroImage.alt}
                width={1200}
                height={800}
                quality={90}
                class="hero__img"
                format="webp"
                priority
            />
            <Image 
                src={CarrouselImgThree} 
                alt="All Goals 2024" 
                width={1200} 
                height={800}
                 class="hero__img" 
                 format="webp"
            />
        </div>
        <div class="hero__flex">
            <Image src={cta.logo} alt="Logo" width={300} height={300} class="hero__logo" format="webp" />
            <div class="hero__text">
                <h1 class="hero__title">{heroTitle}</h1>
                <p class="hero__subtitle">{heroSubtitle}</p>
                <div class="hero__btn__cont">
                    <a href={cta.href} class="hero__btn" target={cta.noblank ? "_blank" : "_self"}>
                        <JoinImg width={20} class="hero__btn__icon" fill={"#fff"} />{cta.text}
                    </a>
                </div>
            </div>
        </div>
        <div class="hero__overlay"></div>
        <div class="hero__blur"></div>
    </div>
</section>

 
  <style>
    .hero {
        height: calc(100svh - 90.38px);
        overflow: hidden;
        .hero__cont {
            position: relative;
        }
        .hero__carrousel {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100svh;
            overflow: hidden;
        }
        .hero__img {
            width: 100%;
            height: 100svh;
            object-fit: cover;
            object-position: center -6rem;
            position: absolute;
            transition: opacity .5s ease-in-out;
            &:nth-child(2) {
                will-change: transform;
                animation: slowMotion 11s linear infinite forwards;
                z-index: 2;
            }
            &:nth-child(3) {
                z-index: 1;
            }
        }
        .hero__img--active {
            animation: slowMotion 11s linear infinite forwards;
        }
        .hero__img--hidden {
            opacity: 0;
        }
        .hero__overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100svh;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) , rgba(0, 0, 0, .85) 80%);
            will-change: opacity;
            animation: showIn 1.5s ease-in-out .4s forwards;
            opacity: 0;
            z-index: 3;
        }
        .hero__flex {
            position: absolute;
            z-index: 20;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -70%);
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            width: 100%;
        }
        .hero__blur {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100svh;
            will-change: backdrop-filter;
            animation: blurIn 1.5s ease-in-out .4s forwards;
            opacity: 1;
            backdrop-filter: blur(2px);
            z-index: 2;
        }
        .hero__text {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
        .hero__logo {
            will-change: transform, opacity, filter;
            animation: fadeIn 1.5s ease-in-out .4s forwards;
            opacity: 0;
            width: 230px;
        }
        .hero__title {
            font-size: 4rem;
            font-weight: bold;
            will-change: transform, opacity, filter;
            animation: fadeIn 1s ease-in-out  .4s forwards;
            opacity: 0;
            margin: 0;
            line-height: .9;
        }
        .hero__subtitle {
            font-size: 1.3rem;
            will-change: transform, opacity, filter;
            animation: fadeIn 1s ease-in-out .6s forwards;
            opacity: 0;
            margin: 0;
            line-height: 1;
        }
        .hero__btn {
            background-color: var(--color-green-700);
            padding: 1rem 2.5rem;
            font-size: 1.1rem;
            font-weight: 500;
            display: inline-block;
            align-self: center;
            transition: all .2s ease-in-out;
            display: flex;
            align-items: center;
            width: fit-content;
            gap: 1rem;
            overflow: hidden;
            .hero__btn__icon {
                transform: translateX(-10px);
                transition: transform .2s ease-in-out;
            }
            &:hover {
                background-color: var(--color-green-600);
                transform: scale(1.05);
                box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
            }
            &:hover .hero__btn__icon {
                transform: translateX(0) scale(1.2);
            }
        }
        .hero__btn__cont {
            will-change: transform, opacity, filter; 
            animation: fadeIn 1s ease-in-out .8s forwards;
            display: flex;
            justify-content: center;
            opacity: 0;
        }
    }

    @keyframes fadeIn {
        0% {
            transform: scale(.9);
            filter: blur(2px);
            opacity: 0;
        }
        70% {
            filter: blur(0);
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
    @keyframes showIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes blurIn {
        15% {
            backdrop-filter: blur(3px);
        }
        50% {
            backdrop-filter: blur(6px);
        }
        80% {
            backdrop-filter: blur(0);
        }
        100% {
            backdrop-filter: blur(0);
        }
    }
    @keyframes slowMotion {
        from {
            transform: translateX(0) scale(1);
        }
        to {
            transform: translateX(-2%) scale(1.05);
        }
    }

    @media (width < 768px) {
        .hero {
            .hero__flex {
                flex-direction: column;
                gap: 2rem;
            }
            .hero__title {
                font-size: 2.6rem;
            }
            .hero__img {
                object-position: 35% -2rem;
                
            }
            .hero__text {
                gap: 1rem;
            }
            .hero__flex {
                padding: 0 1rem;
            }
            .hero__btn {
                margin-top: 1rem;
                font-size: 1.2rem;
            }
        }
    }
  </style>

  <script>

    function showNextImage() {
        const carrouselImages = document.querySelectorAll('.hero__img');
        const carrousel = document.querySelector('.hero__carrousel');
        const first = carrouselImages[0];
        const second = carrouselImages[1];

        
        second.classList.add('hero__img--hidden');
        addAnimation(second.nextElementSibling)
        
        setTimeout(() => {
            carrousel?.appendChild(first);
            second.classList.remove('hero__img--hidden');
        }, 500);
    }

    function addAnimation(elem: HTMLElement) {
        elem.classList.add('hero__img--active');
        setTimeout(() => {
            elem.classList.remove('hero__img--active');
        }, 11000); 
    }

    setInterval(() => {
        showNextImage();
    }, 10000);

  </script>