---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import Goal from '../assets/images/goal.png';

/* const teamLogos = {
  'Atsvea': await import('../assets/images/forest-cup/2022/atsvea.png'),
  'Cacusia': await import('../assets/images/forest-cup/2022/cacusia.png'),
  'Einswenn': await import('../assets/images/forest-cup/2022/einswenn.png'),
  'Roless': await import('../assets/images/forest-cup/2022/roless.png'),
  'Bilsa': await import('../assets/images/forest-cup/2022/bilsa.png'),
  'Reannia': await import('../assets/images/forest-cup/2022/reannia.png'),
  'Kase': await import('../assets/images/forest-cup/2022/kase.png'),
  'Cat-Herders United': await import('../assets/images/forest-cup/2022/cat-herders-united.png'),
  'Daarwyrth': await import('../assets/images/forest-cup/2022/daarwyrth.png'),
  'Terrawynn': await import('../assets/images/forest-cup/2022/terrawynn.png'),
  'Bunkaiia': await import('../assets/images/forest-cup/2022/bunkaiia.png'),
  'Trebenia': await import('../assets/images/forest-cup/2022/trebenia.png'),
  'Stralla': await import('../assets/images/forest-cup/2022/stralla.png'),
  'Novian Republics': await import('../assets/images/forest-cup/2022/novian-republics.png'),
  'Turbeaux': await import('../assets/images/forest-cup/2022/turbeaux.png'),
  'Jutsa': await import('../assets/images/forest-cup/2022/jutsa.png')
}; */

interface Match {
  match_id: number;
  link?: string;
  team1: string;
  team2: string;
  score: {
    team1_goals: number;
    team2_goals: number;
    team1_extra_time?: number;
    team2_extra_time?: number;
    team1_penalty?: number;
    team2_penalty?: number;
  };
  goals: {
    team: string;
    player: string;
    minute: number;
    penalty: boolean;
  }[];
}

interface FCCardProps {
  match: Match;
  teamLogos: ImageMetadata;
}

const { match, teamLogos } = Astro.props;
---
<div class={`flex flex-col justify-center items-center w-full`}>
  <div class="grid grid-cols-7 items-center px-3 py-1 w-full gap-2">
    <div class="flex items-center justify-end col-span-3 gap-3">
      <p class="font-semibold text-xl">
        {match.team1}
      </p>
      <Image 
        src={teamLogos[match.team1].default} 
        alt={match.team1} 
        height={1080}
        width={720}
        class="h-4 w-6 rounded-sm object-cover ring-2 ring-green-700" 
        loading={"lazy"}
      />
    </div>
    <p class="text-center text-xl font-bold">{match.score.team1_goals + " - " + match.score.team2_goals}</p>
    <div class="flex items-center col-span-3 gap-3">
      <Image 
        src={teamLogos[match.team2].default} 
        alt={match.team2} 
        height={1080}
        width={720}
        class="h-4 w-6 rounded-sm object-cover ring-2 ring-green-700" 
        loading={"lazy"}
      />
      <p class="font-semibold text-xl">
        {match.team2}
      </p>
    </div>
    <!-- Grid goals -->
    <div class="flex flex-col w-full col-span-3 items-end justify-start h-full">
      {/* match.goals
        .filter((goal) => goal.team === match.team1) // Filtra goles del equipo específico
        .map((goal) => (
        <div key={goal.minute} class="flex items-center gap-2">
            <p>{goal.player}</p>
            {<Image src={Goal} alt="Goal" class="w-3 h-3" loading={"lazy"}/>}
            <p>{goal.minute}' {goal.penalty ? "(pen)" : ""}</p>
          </div>
        ))
       */}
    </div>
    <div class="flex justify-center w-full h-full col-span-1">
      {<a href="">Details</a>}
    </div>
    <div class="flex flex-col w-full col-span-3 justify-start h-full">
      {/* match.goals
        .filter((goal) => goal.team === match.team2) // Filtra goles del equipo específico
        .map((goal) => (
          <div key={goal.minute} class="flex items-center gap-2">
            <p>{goal.player}</p>
            {<Image src={Goal} alt="Goal" class="w-3 h-3" loading={"lazy"}/>}
            <p>{goal.minute}' {goal.penalty ? "(pen)" : ""}</p>
          </div>
        ))
       */}
    </div>
  </div>
</div>