---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

const { name, code, slug } = Astro.props;
let { flagPath, logoPath } = Astro.props;

const logoClass = logoPath 
  ? "max-h-32 w-auto max-w-32"
  : "max-h-32 w-auto max-w-32 opacity-5";

if (!logoPath) logoPath = "/src/assets/images/members/default_logo.png";
if (!flagPath) flagPath = "/src/assets/images/members/default_logo.png";

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/images/members/*.{jpeg,jpg,png,gif,svg}");

if (!images[flagPath]) throw new Error(`"${flagPath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
/* if (!images[logoPath]) throw new Error(`"${logoPath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`); */
---
<a href={`/members/${slug}`} class="flex flex-col p-4 border ring-0 hover:ring-2 hover:ring-green-300 transition-all duration-300 border-green-800 items-center rounded-4xl">
  <div class="flex h-full items-center">
    {logoPath && <Image src={images[logoPath]()} class={logoClass} alt={name} loading={"eager"}/>}
  </div>
  <div class="w-full flex gap-2 items-center justify-center"> 
    {flagPath && <Image src={images[flagPath]()} class="h-6 w-auto rounded-xl object-cover ring-1 ring-green-700" alt={name} loading={"eager"}/>}
    <p class="text-sm my-2">{code}</p>
  </div>
</a>
