---
import { Image } from 'astro:assets';
import { getRankClass, getRankedMembers } from '@lib/rankingUtils';
import { getTotalColorClass } from '@lib/scoreUtils';
import { getCurrentBonuses, getCurrentBonusPoints } from '@lib/bonusUtils';
import { getEvents, getRoleplays } from '@lib/collections';
import { getCurrentEvents } from '@lib/eventUtils';
import { getCurrentRoleplays } from '@lib/roleplayUtils';

// const events = getEvents();
// const roleplays = getRoleplays();

const { members, currentTournamentId } = Astro.props;

const rankedMembers = await getRankedMembers(members, currentTournamentId);
const currentEvents = getCurrentEvents();
const currentRoleplays = getCurrentRoleplays();
const currentBonuses = getCurrentBonuses();

const headerCellClass = "px-2 py-2 text-center font-medium border-b border-l border-green-600";
---

<div class="w-full mb-6 md:col-span-2 lg:col-span-3 order-1 md:order-2">
  {/* <h6 class="2xl:hidden text-center mb-2 opacity-0 animate-[slide-in_1s_ease-in-out_forwards_.3s]">
    Swipe to see full scores
  </h6> */}
  
  <p class="text-center mb-2 text-xs xs:text-md text-green-500 opacity-0 animate-[slide-in_1s_ease-in-out_forwards_.8s] sm:hidden">
    RP = Roleplay, E = Events, B = Bonus, P = Past, T = Total
  </p>
  <div class="overflow-x-auto rounded-lg opacity-0 animate-[slide-in_1s_ease-in-out_forwards_.5s]">
    <table class="w-full border-collapse text-sm">
      <thead class="bg-green-800 uppercase">
        <tr>
          <th class="w-8 px-2 py-3 text-center border-b border-green-600 rounded-tl-xl" title="Position">°</th>
          <th class="w-10 px-2 py-3 text-center border-b border-green-600"></th>
          <!-- Team: ocupa todo el espacio sobrante -->
          <th class="py-3 text-left border-b border-green-600 min-w-[80px]">Team</th>
          <th class="w-10 sm:w-16 px-2 py-2 text-center font-medium border-b border-x border-green-600" title="Roleplay">RP</th>
          <th class="w-10 sm:w-16 px-2 py-2 text-center font-medium border-b border-x border-green-600" title="Events">
            <span class="hidden sm:inline">Events</span>
            <span class="sm:hidden">E</span>
          </th>
          <th class="w-10 sm:w-16 px-2 py-2 text-center font-medium border-b border-x border-green-600" title="Bonus">
            <span class="hidden sm:inline">Bonus</span>
            <span class="sm:hidden">B</span>
          </th>
          <th class="w-10 sm:w-16 px-2 py-2 border-b border-x border-green-600 bg-gradient-to-r from-blue-800/30 to-blue-800/60" title="Past Editions">
            <span class="hidden sm:inline">Past</span>
            <span class="sm:hidden">P</span>
          </th>
          <th class="w-10 sm:w-14 px-2 py-3 text-center font-bold border-b border-l border-green-600 rounded-tr-xl" title="Total Points">
            <span class="hidden sm:inline">Pts</span>
            <span class="sm:hidden">T</span>
          </th>
        </tr>
      </thead>

      <tbody class="text-center text-green-300">
        {rankedMembers.map((team, index) => {
          const hostPoints = getCurrentBonusPoints(team.currentBonus, 'Host nation');
          const eggsPoints = getCurrentBonusPoints(team.currentBonus, 'Easter Eggs');
          const extraPoints = getCurrentBonusPoints(team.currentBonus, 'Extra');
          const roleplayTotal = Object.values(team.currentRoleplay).reduce((a, b) => a + b, 0);
          const eventsTotal = Object.values(team.currentEvents).reduce((a, b) => a + b, 0);
          const bonusTotal = hostPoints + eggsPoints + extraPoints;
          const pastTotal = team.scores.pastRoleplay + team.scores.pastEventPoints + team.scores.pastBonus + team.scores.tournamentDecayPoints;

          return (
            <tr class="border-b border-green-700 hover:bg-green-800/30 transition duration-150 odd:bg-green-900/30">
              <td class={`py-2 font-semibold border-r border-green-700 ${getRankClass(index+1)}`}>{index + 1}</td>
              <td class="px-1 py-1">
                <Image
                  src={team.flag || "/placeholder.svg"}
                  alt={team.name}
                  quality={40}
                  format="webp"
                  width={60}
                  class="h-5 w-8 object-cover rounded inline-block"
                />
              </td>
              <td class="ps-2 py-2 text-left">
                <a
                  href={`/members/${team.slug}`}
                  class="hidden sm:inline font-semibold hover:underline text-white overflow-ellipsis"
                  title={team.name}
                >
                  {team.name}
                </a>
                <a
                  href={`/members/${team.slug}`}
                  class="sm:hidden font-semibold hover:underline text-white"
                  title={team.name}
                >
                  {team.code}
                </a>
              </td>

              <td class="px-2 py-2 border-x border-green-700" title={`Total Roleplay Points: ${roleplayTotal}`}>
                {roleplayTotal}
              </td>

              <td class="px-2 py-2 border-x border-green-700" title={`Total Events Points: ${eventsTotal}`}>
                {eventsTotal}
              </td>

              <td class="px-2 py-2 border-x border-green-700" title={`Total Bonus Points: ${bonusTotal}`}>
                {bonusTotal}
              </td>

              <td class="px-2 py-2 bg-gradient-to-r from-blue-800/30 to-blue-800/60 border-x border-green-700" title={`Total Past Points: ${pastTotal}`}>
                {pastTotal}
              </td>

              <td class={`px-2 py-2 ${getTotalColorClass(team.totalScore)} border-l border-green-700`}>
                {team.totalScore}
              </td>
            </tr>
          );
        })}
      </tbody>
    </table>
  </div>
</div>