---
import { Image } from 'astro:assets';
import { getRankedMembers } from '@lib/rankingUtils';
import { getTotalColorClass } from '@lib/scoreUtils';
import { getCurrentBonuses, getCurrentBonusPoints } from '@lib/bonusUtils';
import { getEvents, getRoleplays } from '@lib/collections';
import { getCurrentEvents } from '@lib/eventUtils';
import { getCurrentRoleplays } from '@lib/roleplayUtils';

// const events = getEvents();
// const roleplays = getRoleplays();

const { members, currentTournamentId } = Astro.props;

const rankedMembers = await getRankedMembers(members, currentTournamentId);

const currentEvents = getCurrentEvents();
const currentRoleplays = getCurrentRoleplays();
const currentBonuses = getCurrentBonuses();

const headerCellClass = "px-2 py-2 text-center font-medium border-b border-l border-green-600";
---

<div class="w-full mb-6">
  <h6 class="2xl:hidden text-center mb-2 opacity-0 animate-[slide-in_1s_ease-in-out_forwards_.3s]">
    Swipe to see full scores
  </h6>
  
  <div class="overflow-x-auto rounded-lg opacity-0 animate-[slide-in_1s_ease-in-out_forwards_.5s]">
    <table class="table-fixed border-collapse text-sm w-max mx-auto">
      <colgroup>
        <col style="width: 30px;"> <!-- Pos -->
        <col style="width: 30px;"> <!-- Flag -->
        <col style="width: 240px;"> <!-- Team -->
        {currentRoleplays.map(() => <col style="width: 50px;">)}
        {currentEvents.map(() => <col style="width: 50px;">)}
        {currentBonuses.map(() => <col style="width: 50px;">)}
        <col style="width: 65px;" class="bg-gradient-to-r from-blue-800/30 to-blue-800/60"> <!-- Past RP -->
        <col style="width: 65px;" class="bg-gradient-to-r from-blue-800/30 to-blue-800/60"> <!-- Past Events -->
        <col style="width: 65px;" class="bg-gradient-to-r from-blue-800/30 to-blue-800/60"> <!-- Past Bonus -->
        <col style="width: 65px;" class="bg-gradient-to-r from-blue-800/30 to-blue-800/60"> <!-- Past Results -->
        <col style="width: 30px;"> <!-- Total -->
      </colgroup>
      
      <thead class="bg-green-800 uppercase">
        <tr>
          <th rowspan="2" class="px-2 py-3 text-center border-b border-green-600 rounded-tl-xl" title="Position">°</th>
          <th rowspan="2" class="px-5 py-3 text-center border-b border-green-600"></th>
          <th rowspan="2" class="py-3 text-left border-b border-green-600">Team</th>

          <th colspan={currentRoleplays.length} class="px-4 py-2 text-center border-b border-l border-green-600">Roleplay</th>
          <th colspan={currentEvents.length} class="px-4 py-2 text-center border-b border-l border-green-600">Events</th>
          <th colspan={currentBonuses.length} class="px-4 py-2 text-center border-b border-l border-green-600">Bonus</th>
          <th colspan="4" class="px-4 py-2 text-center border-b border-l border-green-600">Past</th>
          <th rowspan="2" class="px-3 py-3 text-center font-bold border-b border-l border-green-600 rounded-tr-xl">Pts</th>
        </tr>
        <tr>
          {currentRoleplays.map((roleplay, idx) => (
            <th 
              class={`px-2 py-2 text-center font-medium border-b border-green-600 
                      ${idx === 0 ? "border-l border-green-600" : ""}`} 
              title={roleplay.name}
            >
              {roleplay.code || roleplay.name.slice(0, 4)}
            </th>
          ))}
          {currentEvents.map((event, idx) => (
            <th 
              class={`px-2 py-2 text-center font-medium border-b border-green-600 
                      ${idx === 0 ? "border-l border-green-600" : ""}`} 
              title={`${event.name} Points`}
            >
              {event.code || event.name.slice(0, 4)}
            </th>
          ))}
          {currentBonuses.map((bonus, idx) => (
            <th 
              class={`px-2 py-2 text-center font-medium border-b border-green-600 
                      ${idx === 0 ? "border-l border-green-600" : ""}`} 
              title={bonus.name}
            >
              {bonus.code || bonus.name.slice(0, 4)}
            </th>
          ))}
          <th class="px-2 py-2 border-b border-l border-green-600">RP</th>
          <th class="px-2 py-2 border-b border-green-600">Events</th>
          <th class="px-2 py-2 border-b border-green-600">Bonus</th>
          <th class="px-2 py-2 border-b border-green-600">Results</th>
        </tr>
      </thead>

      
      <tbody class="text-center text-green-300">
        {rankedMembers.map((team, index) => {
          const hostPoints = getCurrentBonusPoints(team, 'host');
          const eggsPoints = getCurrentBonusPoints(team, 'eggs');
          const extraPoints = getCurrentBonusPoints(team, 'extra');

          return (
            <tr 
              class="border-b border-green-700 hover:bg-green-800/30 transition duration-150
                    odd:bg-green-900/30"
            >
              <td class="py-2">{index + 1}</td>
              <td class="py-1 sticky left-0 bg-green-800 xl:bg-transparent">
                <Image 
                  src={team.flag || "/placeholder.svg"} 
                  alt={team.name} 
                  quality={20} 
                  format="webp"
                  width={50} 
                  class="h-4 w-auto object-cover rounded inline-block" 
                />
              </td>
              <td class="py-2 text-left overflow-hidden text-ellipsis">
                <a 
                  href={`/members/${team.slug}`} 
                  class="font-semibold hover:underline text-white overflow-hidden text-ellipsis ml-2" 
                  title={team.name}
                >
                  {team.name}
                </a>
              </td>
              
             {currentRoleplays.map((roleplay, idx) => (
              <td 
                class={`px-2 py-2 
                        ${idx === 0 ? "border-l border-green-700" : ""}`} 
                title={`${roleplay.name} Points: ${team.currentRoleplay[roleplay.name] || 0}`}
              >
                {team.currentRoleplay[roleplay.name] || 0}
              </td>
            ))}

            {currentEvents.map((event, idx) => (
              <td 
                class={`px-2 py-2 
                        ${idx === 0 ? "border-l border-green-700" : ""}`} 
                title={`${event.name} Points: ${team.currentEvents[event.name] || 0}`}
              >
                {team.currentEvents[event.name] || 0}
              </td>
            ))}

            <td class="px-2 py-2 border-l border-green-700" title={`Host Bonus: ${hostPoints}`}>
              {hostPoints}
            </td>
            <td class="px-2 py-2">{eggsPoints}</td>
            <td class="px-2 py-2">{extraPoints}</td>

            <td class="px-2 py-2 border-l border-green-700" title={`Past Roleplay Points: ${team.scores.pastRoleplay}`}>{team.scores.pastRoleplay}</td>
            <td class="px-2 py-2" title={`Past Event Points: ${team.scores.pastEventPoints}`}>{team.scores.pastEventPoints}</td>
            <td class="px-2 py-2" title={`Past Bonus Points: ${team.scores.pastBonus}`}>{team.scores.pastBonus}</td>
            <td class="px-2 py-2" title={`Tournament Decay Points: ${team.scores.tournamentDecayPoints}`}>{team.scores.tournamentDecayPoints}</td>

              <td class={`px-4 py-2 ${getTotalColorClass(team.totalScore)}`}>
                {team.totalScore}
              </td>
            </tr>
          )
        })}
      </tbody>

    </table>
  </div>
</div>